.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		border-bottom: 1px solid #DBDBDB;
	}
	// .tabs__title
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 100%;
		text-align: center;
		color: rgba(90, 90, 90, 0.5);
		padding: 10px 70px;
		position: relative;
		&._tab-active {
			color: #5A5A5A;
			// border-bottom: 2px solid #1AC9FF;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -1px;
				width: 100%;
				height: 2px;
				background-color: #1AC9FF;
			}
		}
	}
	// .tabs__content
	&__content {
		// border: 1px solid #eee;
		padding: rem(40) rem(0);
	}
	// .tabs__body
	&__body {
	}
}
