.features-tabs {
  margin-bottom: 110px;
}

.overview {
  // overflow: hidden;
}

.overview-img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1111 / 518;
}

.similar-tours {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
  grid-gap: 30px;
}

.swiper-tags {
  position: relative;
}

.slide-link {

  &__block {
    display: flex;
    justify-content: center;
    border: 1px solid #DBDBDB;
    border-radius: 100px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.0075em;
    color: $grey-2-color;
    transition: all ease-in-out .2s;

    &:hover {
      border: 1px solid $corp-color;
      background-color: $corp-color;
      color: $white-color;
    }
  }
}

.nex-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $corp-color;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.variants {
  // display: flex;
  // gap: 30px;
  // justify-content: space-between;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: auto 73%; 
  grid-template-rows: 1fr; 
  gap: 0px 30px; 
  grid-template-areas: 
    ". ."; 
}
.filter {
  // flex: 0 1 auto;
}
.spollers {

		// .spollers__item

		&__item {
		}

		// .spollers__title

		&__title {
		}

		// .spollers__body

		&__body {
		}
}
.tickets {

		// .tickets__wrapper

		&__wrapper {
		}
}
.rating {

		// .rating__stars

		&__stars {
		}

		// .rating__text

		&__text {
		}
}
.pagination {
}
