.features-tabs {
  margin-bottom: 110px;

  @media (max-width: 780px) {
    margin-bottom: 60px;
  }
}

.overview {
  // overflow: hidden;
}

.overview-img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1111 / 518;
}

.similar-tours {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
  grid-gap: 30px;
}

.swiper-tags {
  position: relative;
}

.slide-link {

  &__block {
    display: flex;
    justify-content: center;
    border: 1px solid #DBDBDB;
    border-radius: 100px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.0075em;
    color: $grey-2-color;
    transition: all ease-in-out .2s;

    &:hover {
      border: 1px solid $corp-color;
      background-color: $corp-color;
      color: $white-color;
    }
  }
}

.nex-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $corp-color;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (max-width: 930px) {
    display: none;
  }
}

.variants {
  // display: flex;
  // gap: 30px;
  // justify-content: space-between;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: auto 73%; 
  grid-template-rows: 1fr; 
  gap: 0px 30px; 
  grid-template-areas: 
    ". ."; 

    @media (max-width: 980px) {
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr; 
      grid-template-rows: auto auto; 
      gap: 30px 0; 
      grid-template-areas: 
        "."
        "."; 
    }
}


.spollers-filter {
  position: sticky;
  top: 100px;
}
.spollers-filter__item {

}
.spollers-filter__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #5A5A5A;

}
.spollers-filter__body {
  padding-top: 20px;
  padding-bottom: 30px;

  .spoller__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #828282;
  }
  .spoller__tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

  }
  .spoller__tag {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #828282;
    padding: 5px 8px;
    background-color: rgba(219, 219, 219, 0.5);
    border-radius: 20px;
  }

}

.spollers-filter__checkboxes {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #858585;

  .checkbox-label {
    cursor: pointer;
  }

  input[type="checkbox"] {
    -webkit-appearance:none;
    appearance:none;
    position:relative;
    display:inline-block;
    line-height: 1em;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    margin-bottom: 12px;
    margin-right: 18px;
    vertical-align:top;
    text-align:center;
    border: 2px solid #CDCDCD;
    border-radius: 5px;
    transition:all 0.5s;
  }

  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    outline:none;
    // box-shadow:0 0 0.25em 0.125em #08F;
  }

  input[type="checkbox"]:before,
  input[type="radio"]:before {
    content:"";
    position:relative;
    display:block;
    transition:all 0.5s;
  }

  input[type="checkbox"]:not(.switch):before {
    content: url("../img/check.png");
    // top:-0.1em;
    left: 2px;
    width: 13px;
    height: 10px;
    transform:scale(0);
    transform-origin:50% 65%;
  }

  input[type="checkbox"]:not(.switch):checked {
    background-color: $corp-color;
    border-color: $corp-color;
  }
  input[type="checkbox"]:not(.switch):checked:before {
    transform:scale(1.25);
  }
}

.filter-range {
}
.range {
  width: 97%;

		// .range__data
		&__data {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      p {
        &:first-child {
          color: #DBDBDB;
        }
      }
		}

		// .range__input

		&__input {
      height: 2px;
		}
}


.tickets {

		// .tickets__wrapper

		&__wrapper {
		}
}
.rating {

		// .rating__stars

		&__stars {
		}

		// .rating__text

		&__text {
		}
}
.pagination {
}
