// Заголовки, загальні БЕМ блоки та інше...
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: $grey-1-color;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: $grey-1-color;
  margin-bottom: 20px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: $grey-1-color;
  margin-bottom: 20px;
}

.h3-bold {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: $grey-1-color;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  color: #4F4F4F;
}

.main-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: $grey-2-color;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 540px) {
    display: block;
  }
}

.list-disc {
  margin-left: 15px;
  li {
    list-style-image: url("../img/list-disc.png");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: $grey-2-color;
    padding-left: 12px;
  }
}

.list-check {
  width: fit-content;
  margin-left: 20px;
  li {
    list-style-image: url("../img/list-check.png");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: $grey-2-color;
    padding-left: 10px;
  }
}

.columns-2 {
  column-count: 2;
  column-gap: 90px;

  @media (max-width: $tablet) {
    column-count: 1;
    column-gap: 0;
  }
}

.breadcrumbs-main {
  display: flex;
  gap: 3px;
  align-items: baseline;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.breadcrumb-main {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $grey-3-color;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: clamp(2.813rem, 2.125rem + 3.44vw, 6.25rem);
}

.uppercase {
  text-transform: uppercase;
}

.unactive-rating {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #B9B9B9;
}

.overview-slider {
  width: 96%;
  overflow: hidden;

  @media (max-width: 930px) {
    width: 100%;
  }
}

.p-rel {
  position: relative;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #E3E3E3;
  // margin-bottom: 22px;
}

.line-vertical {
  width: 1px;
  height: 14px;
  background-color: #5A5A5A;

  @media (max-width: 500px) {
    display: none;
  }
}

.line-100 {
  width: 80%;
}

.line-75 {
  width: 75%;
}
.line-50 {
  width: 50%;
}
.line-25 {
  width: 25%;
}
.line-10 {
  width: 10%;
}

.hidden {
  display: none;
}

.svg-rotate {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}